body {
  background-color: #E6E6E6;
}

.jumbotron {
  font-family: sans-serif;;
  text-align: center;
  background-color: #F5DFB3;
}

#about {
  float: left;
  height:3000px;
  width: 20%;
  background-color: #8FBC8E;
  padding: 20px;
  color: white;
}

#about h3 {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}

#about h4 {
  color: #F5D5B3;
  font-family: sans-serif;
  font-weight: bold;
}
#container {
  margin-left: 500px;
}

#container h2,h3 {
  font-weight: bold;
}

input {
  font-size: 14px;
  margin-top: 20px;
}

.button {
  background-color: #C0C0C0;
}

#output {
  text-align: center;
}

.pingpong {
  color: purple;
  font-family: fantasy;
  font-style: oblique;
}

.ping {
  color: red;
  font-family: serif;
  font-weight: bold;
}

.pong {
  color: blue;
  font-family: cursive;
  font-style: italic;
}

#error {
  text-align: center;
  color: red;
  font-weight: bold;
}
