.jumbotron {
  font-family: fantasy;
  text-align: center;
  background-color: #F5DFB3;
}

#about {
  float: left;
  width: 20%;
  background-color: #8FBC8E;
}
#container {
  margin-left: 500px;
}

input {
  font-size: 14px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#output {
  text-align: center;
}

.pingpong {
  color: purple;
  font-family: fantasy;
  font-style: oblique;
}

.ping {
  color: red;
  font-family: serif;
  font-weight: bold;
}

.pong {
  color: blue;
  font-family: cursive;
  font-style: italic;
}
